@(name: String)

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Hello</title>
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap-3.3.7.min.js")" type="text/javascript"></script>
        <link rel="stylesheet" type="text/css" href='@routes.Assets.at("stylesheets/bootstrap-3.3.7.min.css")' />
    </head>
    <body>
        <h1>Hello <em>@name</em></h1>

        <button type="button" class="btn">Basic</button>
    </body>
</html>